#Emacs backup files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# This is the name of the default project.  We don't
# really ever want to commit this.
default_project
